@font-face {
    font-family: 'Aller-bold';
    src: local('Aller-bold'), url(./fonts/aller/Aller_Bd.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Aller-light';
    src: local('Aller-light'), url(./fonts/aller/Aller_Rg.ttf) format('truetype');
  }
  